.quote-container {
  width: 450px;
  background-color: white;
  margin: auto ;
  border-radius: 3px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;

}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.btn {
  padding: 8px 12px;
  border-radius: 2px;
  cursor: pointer;
}

.btn-primary {
  color: white;
  border: none;
}

.btn-secondary {
  background-color:  white;
  color: rgb(115, 168, 87);
  border:1px solid rgb(115, 168, 87) ;
}

.quote-block {
 display: flex;
 flex-direction: column;
 gap:32px;
 margin-bottom: 32px;
 flex: 1 1 auto;
}

.quote-text {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
  word-wrap: break-word;
}

.author-name {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: space-between;
}


.founder {
  color: white;
}